/* Константы */
:root {
    /* ЦВЕТА */
    --txt: #051B43;
    --grey: #BFC8C9;
    --blue: #303D8F;
    --green2: #10C48D;
    --white: #FFFFFF;
    --green: #11FACA;
    --backgroundBlue: #E5ECFC;
    --backgroundGreen: #E9F5F4;
    --contourBlue: #6579FC;
    --green1: #D1EBEB;
    --blue1: #CCDBFF;

    /* ШРИФТЫ */
    /* h1 */
    --h1fontfamily: "Proxima Nova", sans-serif;
    --h1fontsize: 62px;
    --h1texttransform: uppercase;
    --h1fontweight: bold;
    /* h2 */
    --h2fontfamily: "Proxima Nova", sans-serif;
    --h2fontsize: 60px;
    --h2texttransform: none;
    --h2fontweight: regular;
    /* h3 */
    --h3fontfamily: "Proxima Nova", sans-serif;
    --h3fontsize: 44px;
    --h3texttransform: none;
    --h3fontweight: bold;
    /* h4 */
    --h4fontfamily: "Proxima Nova", sans-serif;
    --h4fontsize: 30px;
    --h4texttransform: none;
    --h4fontweight: bold;
    /* text22 */
    --text22fontfamily: "Manrope", sans-serif;
    --text22fontsize: 22px;
    --text22fontweight: medium;
    --text22lineheight: 150%;
    --text22texttransform: none;
    /* text16 */
    --text16fontfamily: "Manrope", sans-serif;
    --text16fontsize: 16px;
    --text16fontweight: medium;
    --text16lineheight: 150%;
    --text16texttransform: none;
    /* text-tegs */
    --texttegsfontfamily: "Manrope", sans-serif;
    --texttegsfontsize: 16px;
    --texttegsfontweight: regular;
    --texttegslineheight: 100%;
    --texttegstexttransform: none;
    /* text14 */
    --text14fontfamily: "Manrope", sans-serif;
    --text14fontsize: 14px;
    --text14fontweight: regular;
    --text14lineheight: 150%;
    --text14texttransform: none;
    /* button */
    --buttonfontfamily: "Manrope", sans-serif;
    --buttonfontsize: 16px;
    --buttonfontweight: medium;
    --buttonlineheight: 150%;
    --buttontexttransform: uppercase;
}

/* Подключение шрифтов */
@font-face {
    font-family: "Manrope";
    font-weight: medium;
    src: url(./src/fonts/manrope_medium.ttf);
}

@font-face {
    font-family: "Manrope";
    font-weight: regular;
    src: url(./src/fonts/manrope_regular.ttf);
}

@font-face {
    font-family: "Manrope";
    font-weight: bold;
    src: url(./src/fonts/manrope_bold.ttf);
}

@font-face {
    font-family: "Proxima Nova";
    font-weight: bold;
    src: url(./src/fonts/proximanova_bold.otf);
}

@font-face {
    font-family: "Proxima Nova";
    font-weight: regular;
    src: url(./src/fonts/proximanova_regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: linear-gradient(135deg, rgba(1,24,66,1) 24%, rgba(20,39,72,0.06) 60%),
        url(./src/images/header_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 70%;
    padding-left: 50px;
    display: grid;
    grid-template-rows: 100px 300px 300px;
    grid-template-columns: auto;
    grid-template-areas: "header header"
                    "tagline statisticsContainer"
                    "tagline statisticsContainer";
    justify-items: stretch;
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.header__logo,
.header__link {
    padding-right: 40px;
}

.header__link {
    font-family: var(--text16fontfamily);
    font-weight: var(--text16fontweight);
    font-size: var(--text16fontsize);
    color: var(--white);
    text-decoration: none;
    transition: color 0.25s;
}

.header__link:hover {
    text-decoration: underline;
    color: var(--green);
}

.tagline {
    grid-area: tagline;
    justify-self: start;
    align-self: start;
    padding-top: 96px;
    width: 700px;
}

.tagline__text1,
.tagline__text2 {
    font-family: var(--h1fontfamily);
    font-size: var(--h1fontsize);
    font-weight: var(--h1fontweight);
    text-transform: var(--h1texttransform);
    line-height: 100%;
}

.tagline__text1 {
    color: var(--green);
}

.tagline__text2 {
    color: var(--white);
}

.statisticsContainer {
    grid-area: statisticsContainer;
    justify-self: end;
    align-self: end;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    background: #FFFFFF;
    border-top-left-radius: 10px;
}

.statistics {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 63px;
    padding-bottom: 63px;
    border-radius: 10px;
    width: 592px;
    background: linear-gradient(180deg, rgba(20,39,72,1) 0%, rgba(17,250,202,1) 100%);
}

.statistics__text {
    font-family: var(--text22fontfamily);
    font-size: var(--text22fontsize);
    font-weight: var(--text22fontweight);
    line-height: var(--text22lineheight);
    text-transform: var(--text22texttransform);
    margin-bottom: 30px;
}

.statistics__text-regular {
    color: var(--white);
}

.statistics__text-bright {
    color: var(--green);
    font-weight: bold;
}

.statistics__viewPortfolioButton {
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background: var(--white);
    font-family: var(--buttonfontfamily);
    font-size: var(--buttonfontsize);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--blue);
    letter-spacing: 0.01em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.aboutUs {
    display: grid;
    margin-top: 130px;
    grid-template-rows: 247px 130px 300px;
    grid-template-columns: auto;
    grid-template-areas: "text text"
                        ". ."
                        "digits infoRight";
    justify-items: stretch;
    align-items: stretch;
}

.aboutUs__text {
    grid-area: text;
    align-self: center;
    justify-self: center;
    padding-left: 50px;
    padding-right: 50px;
}

.aboutUs__text__h2 {
    font-family: var(--h2fontfamily);
    font-size: var(--h2fontsize);
    text-transform: var(--h2texttransform);
    font-weight: var(--h2fontweight);
    color: var(--txt);
    text-align: center;
    padding-bottom: 20px;
}

.aboutUs__text__h3 {
    font-family: "Proxima Nova", sans-serif;
    font-size: 40px;
    font-weight: regular;
    text-align: center;
    background: linear-gradient(169deg, #041a43 0%, #11faca 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.aboutUs__digitsContainer {
    grid-area: digits;
    padding-left: 50px;
}

.aboutUs__digits {
    border-radius: 10px;
    width: 660px;
    height: 300px;
    background: linear-gradient(143deg, rgba(20, 39, 72, 0.9) 0%, rgba(25, 255, 208, 0.9) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.aboutUs__digits__rating,
.aboutUs__digits__satisfiedUsers,
.aboutUs__digits__experience {
    font-family: "Proxima Nova", sans-serif;
    width: 193px;
    height: 154px;
    color: var(--white);
}

.aboutUs__digits__satisfiedUsers,
.aboutUs__digits__experience {
    margin-left: 20px;
}

.aboutUs__digits__rating__span,
.aboutUs__digits__satisfiedUsers__span,
.aboutUs__digits__experience__span {
    padding-top: 10px;
    font-weight: bold;
    font-size: 80px;
    line-height: 120%;
}

.aboutUs__digits__rating__starIcon {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 38px;
}

.aboutUs__digits__satisfiedUsers__upperText {
    position: relative;
    bottom: 42px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
}

.aboutUs__digits__rating__text,
.aboutUs__digits__satisfiedUsers__text,
.aboutUs__digits__experience__text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    width: 162px;
}

.aboutUs__infoRight {
    grid-area: infoRight;
    padding-right: 50px;
    width: 660px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.aboutUs__infoRight__text {
    font-family: var(--text16fontfamily);
    font-size: var(--text16fontsize);
    font-weight: var(--text16fontweight);
    line-height: var(--text16lineheight);
    text-transform: var(--text16texttransform);
}

.aboutUs__infoRight__portraits-2 {
    padding: 0 38px 0 38px;
}

.aboutUs__infoRight__button {
    align-self: stretch;
    border: none;
    background: var(--white);
    font-family: var(--buttonfontfamily);
    font-size: var(--buttonfontsize);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--blue);
    letter-spacing: 0.01em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}