/* Константы */
:root {
    /* Цвета */
    --txt: #051B43;
    --grey: #BFC8C9;
    --blue: #303D8F;
    --green2: #10C48D;
    --white: #FFFFFF;
    --green: #11FACA;
    --backgroundBlue: #E5ECFC;
    --backgroundGreen: #E9F5F4;
    --contourBlue: #6579FC;
    --green1: #D1EBEB;
    --blue1: #CCDBFF;

    /* Шрифты */
    /* h1 */
    --h1fontfamily: "Proxima Nova", sans-serif;
    --h1fontsize: 62px;
    --h1texttransform: uppercase;
    --h1fontweight: bold;
    /* h2 */
    --h2fontfamily: "Proxima Nova", sans-serif;
    --h2fontsize: 60px;
    --h2texttransform: none;
    --h2fontweight: regular;
    /* h3 */
    --h3fontfamily: "Proxima Nova", sans-serif;
    --h3fontsize: 44px;
    --h3texttransform: none;
    --h3fontweight: bold;
    /* h4 */
    --h4fontfamily: "Proxima Nova", sans-serif;
    --h4fontsize: 30px;
    --h4texttransform: none;
    --h4fontweight: bold;
    /* text22 */
    --text22fontfamily: "Manrope", sans-serif;
    --text22fontsize: 22px;
    --text22fontweight: medium;
    --text22lineheight: 150%;
    --text22texttransform: none;
    /* text16 */
    --text16fontfamily: "Manrope", sans-serif;
    --text16fontsize: 16px;
    --text16fontweight: medium;
    --text16lineheight: 150%;
    --text16texttransform: none;
    /* text-tegs */
    --texttegsfontfamily: "Manrope", sans-serif;
    --texttegsfontsize: 16px;
    --texttegsfontweight: regular;
    --texttegslineheight: 100%;
    --texttegstexttransform: none;
    /* text14 */
    --text14fontfamily: "Manrope", sans-serif;
    --text14fontsize: 14px;
    --text14fontweight: regular;
    --text14lineheight: 150%;
    --text14texttransform: none;
    /* button */
    --buttonfontfamily: "Manrope", sans-serif;
    --buttonfontsize: 16px;
    --buttonfontweight: medium;
    --buttonlineheight: 150%;
    --buttontexttransform: uppercase;
}

/* Подключение шрифтов */
@font-face {
    font-family: "Manrope";
    font-weight: medium;
    src: url(./src/fonts/manrope_medium.ttf);
}

@font-face {
    font-family: "Manrope";
    font-weight: regular;
    src: url(./src/fonts/manrope_regular.ttf);
}

@font-face {
    font-family: "Manrope";
    font-weight: bold;
    src: url(./src/fonts/manrope_bold.ttf);
}

@font-face {
    font-family: "Manrope";
    font-weight: 600;
    src: url(./src/fonts/manrope_semibold.ttf);
}

@font-face {
    font-family: "Proxima Nova";
    font-weight: bold;
    src: url(./src/fonts/proximanova_bold.otf);
}

@font-face {
    font-family: "Proxima Nova";
    font-weight: regular;
    src: url(./src/fonts/proximanova_regular.ttf);
}

/* Удаление всех первоначальных отступов */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Анимации */
/* появление сверху вниз */
.hiddenFromDown {
    opacity: 0;
    filter: blur(2px);
    transform: translateY(25%);
    transition: opacity 0.5s ease-out, filter 0.5s ease-out, transform 0.5s ease-out;
}

.showFromDown {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0%);
}

.delay1 {
    transition: opacity 0.5s ease-out 100ms, filter 0.5s ease-out 100ms, transform 0.5s ease-out 100ms;
}

.delay2 {
    transition: opacity 0.5s ease-out 200ms, filter 0.5s ease-out 200ms, transform 0.5s ease-out 200ms;
}

.delay3 {
    transition: opacity 0.5s ease-out 300ms, filter 0.5s ease-out 300ms, transform 0.5s ease-out 300ms;
}

.delay4 {
    transition: opacity 0.5s ease-out 400ms, filter 0.5s ease-out 400ms, transform 0.5s ease-out 400ms;
}

/* для правильной работы карточек */
.ourPortfolio__card1.hiddenFromDown,
.ourPortfolio__card2.hiddenFromDown,
.ourPortfolio__card3.hiddenFromDown,
.ourPortfolio__card4.hiddenFromDown,
.ourPortfolio__card5.hiddenFromDown {
    transition: opacity 0.5s ease-out, filter 0.5s ease-out, transform 0.5s ease-out, background 0.25s ease-out;
}

/* появление слева */
.hiddenFromLeft {
    opacity: 0;
    filter: blur(2px);
    transform: translateX(-5%);
    transition: opacity 0.5s ease-out, filter 0.5s ease-out, transform 0.5s ease-out;
}

.showFromLeft {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
}

/* появление справа */
.hiddenFromRight {
    opacity: 0;
    filter: blur(2px);
    transform: translateX(5%);
    transition: opacity 0.5s ease-out, filter 0.5s ease-out, transform 0.5s ease-out;
}

.showFromRight {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
}

/* появление картинок в слайдере */
.imageAppearFromDown {
    animation: slideFromDown 0.3s;
}

@keyframes slideFromDown {
    from {
        opacity: 0;
        transform: translateY(25%);
        filter: blur(2px);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
        filter: blur(0);
    }
}

/* Затемнение фона при появлении Pop-Up окна */
@keyframes popupDarkBackground {
    from {
        background-color: rgba(0, 0, 0, 0);
    } to {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

/* Появление Pop-Up окна */
@keyframes popUpContainerAppear {
    from {
        opacity: 0;
        filter: blur(2px);
    } to {
        opacity: 1;
        filter: blur(0);
    }
}

/* Поворот стрелок на кнопках */
.statistics__viewPortfolioButton__ArrowIcon,
.aboutUs__infoRight__button__ArrowIcon,
.ourPortfolio__card1__viewButton__ArrowIcon,
.ourPortfolio__card2__viewButton__ArrowIcon,
.ourPortfolio__card3__viewButton__ArrowIcon,
.ourPortfolio__card4__viewButton__ArrowIcon,
.ourPortfolio__card5__viewButton__ArrowIcon,
.ourPortfolio__allProjectsButton__ArrowIcon,
.whatWeOffer__discussButton__ArrowIcon {
    transition: transform 0.3s;
}

/* Активация поворота стрелок на кнопках */
.rotate {
    transform: rotate(45deg);
}

/* Для тех, у кого выключена анимация */
@media(prefers-reduced-motion) {
    .hiddenFromDown {
        transition: none;
    }
}

/* Header включает в себя всю верхнюю часть: меню, тэглайн и статистику */
header {
    background-image: linear-gradient(135deg, rgba(1, 24, 66, 1) 24%, rgba(20, 39, 72, 0.06) 60%),
        url(./src/images/header_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 70%;
    padding-left: 50px;
    display: grid;
    grid-template-rows: 100px 300px 300px;
    grid-template-columns: auto;
    grid-template-areas: "header header"
        "tagline statisticsContainer"
        "tagline statisticsContainer";
    justify-items: stretch;
}

/* Класс headerMenu включает в себя ТОЛЬКО верхнее меню */
.headerMenu {
    grid-area: header;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.headerMenu__logo,
.headerMenu__link {
    margin-right: 40px;
}

.headerMenu__link {
    font-family: var(--text16fontfamily);
    font-weight: var(--text16fontweight);
    font-size: var(--text16fontsize);
    color: var(--white);
    text-decoration: none;
    transition: color 0.25s;
}

.headerMenu__link:hover {
    text-decoration: underline;
    color: var(--green);
}

.tagline {
    grid-area: tagline;
    justify-self: start;
    align-self: start;
    padding-top: 96px;
    width: 700px;
}

.tagline__text1,
.tagline__text2 {
    font-family: var(--h1fontfamily);
    font-size: var(--h1fontsize);
    font-weight: var(--h1fontweight);
    text-transform: var(--h1texttransform);
    line-height: 100%;
}

.tagline__text1 {
    color: var(--green);
}

.tagline__text2 {
    color: var(--white);
}

.statisticsContainer {
    grid-area: statisticsContainer;
    justify-self: end;
    align-self: end;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    background: #FFFFFF;
    border-top-left-radius: 10px;
}

.statistics {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 63px;
    padding-bottom: 63px;
    border-radius: 10px;
    width: 592px;
    background: linear-gradient(180deg, rgba(20, 39, 72, 1) 0%, rgba(17, 250, 202, 1) 100%);
}

.statistics__text {
    font-family: var(--text22fontfamily);
    font-size: var(--text22fontsize);
    font-weight: var(--text22fontweight);
    line-height: var(--text22lineheight);
    text-transform: var(--text22texttransform);
    margin-bottom: 30px;
}

.statistics__text-regular {
    color: var(--white);
}

.statistics__text-bright {
    color: var(--green);
    font-weight: bold;
}

.statistics__viewPortfolioButton {
    cursor: pointer;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background: var(--white);
    font-family: var(--buttonfontfamily);
    font-size: var(--buttonfontsize);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--blue);
    letter-spacing: 0.01em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.aboutUs {
    display: grid;
    margin-top: 130px;
    grid-template-rows: 247px 130px 300px;
    grid-template-columns: auto;
    grid-template-areas: "text text"
        ". ."
        "digits infoRight";
    justify-items: stretch;
    align-items: stretch;
}

.aboutUs__text {
    grid-area: text;
    align-self: center;
    justify-self: center;
    padding-left: 50px;
    padding-right: 50px;
}

.aboutUs__text__h2 {
    font-family: var(--h2fontfamily);
    font-size: var(--h2fontsize);
    text-transform: var(--h2texttransform);
    font-weight: var(--h2fontweight);
    color: var(--txt);
    text-align: center;
    padding-bottom: 20px;
}

.aboutUs__text__h3 {
    font-family: "Proxima Nova", sans-serif;
    font-size: 40px;
    font-weight: regular;
    text-align: center;
    background: linear-gradient(169deg, #041a43 0%, #11faca 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.aboutUs__digitsContainer {
    grid-area: digits;
    padding-left: 50px;
}

.aboutUs__digits {
    border-radius: 10px;
    width: 660px;
    height: 300px;
    background: linear-gradient(143deg, rgba(20, 39, 72, 0.9) 0%, rgba(25, 255, 208, 0.9) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.aboutUs__digits__rating,
.aboutUs__digits__satisfiedUsers,
.aboutUs__digits__experience {
    font-family: "Proxima Nova", sans-serif;
    width: 193px;
    height: 154px;
    color: var(--white);
}

.aboutUs__digits__satisfiedUsers,
.aboutUs__digits__experience {
    margin-left: 20px;
}

.aboutUs__digits__rating__span,
.aboutUs__digits__satisfiedUsers__span,
.aboutUs__digits__experience__span {
    padding-top: 10px;
    font-weight: bold;
    font-size: 80px;
    line-height: 120%;
}

.aboutUs__digits__rating__starIcon {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 38px;
}

.aboutUs__digits__satisfiedUsers__upperText {
    position: relative;
    bottom: 42px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
}

.aboutUs__digits__rating__text,
.aboutUs__digits__satisfiedUsers__text,
.aboutUs__digits__experience__text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    width: 162px;
}

.aboutUs__infoRight {
    grid-area: infoRight;
    padding-right: 50px;
    width: 660px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.aboutUs__infoRight__text {
    font-family: var(--text16fontfamily);
    font-size: var(--text16fontsize);
    font-weight: var(--text16fontweight);
    line-height: var(--text16lineheight);
    text-transform: var(--text16texttransform);
}

.aboutUs__infoRight__portraits-2 {
    padding: 0 38px 0 38px;
}

.aboutUs__infoRight__button {
    cursor: pointer;
    align-self: stretch;
    border: none;
    background: var(--white);
    font-family: var(--buttonfontfamily);
    font-size: var(--buttonfontsize);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--blue);
    letter-spacing: 0.01em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    transition: font-size 0.3s;
}

.ourPortfolioContainer {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 200px;
}

.ourPortfolio__header {
    margin-bottom: 80px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 660px 660px;
    grid-template-areas: "h2 txt22";
    justify-items: stretch;
    align-items: stretch;
}

.ourPortfolio__header__h2 {
    grid-area: h2;
    font-family: var(--h2fontfamily);
    font-size: var(--h2fontsize);
    font-weight: var(--h2fontweight);
    text-transform: var(--h2texttransform);
    color: var(--txt);
}

.ourPortfolio__header__text {
    grid-area: txt22;
    font-family: var(--text22fontfamily);
    font-size: var(--text22fontsize);
    font-weight: var(--text22fontweight);
    text-transform: var(--text22texttransform);
    line-height: var(--text22lineheight);
    color: var(--txt);
}

.ourPortfolio__card1,
.ourPortfolio__card2,
.ourPortfolio__card3,
.ourPortfolio__card4,
.ourPortfolio__card5 {
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.02);
    border-radius: 20px;
    background: #E8F5F4;
    padding: 50px;
    display: grid;
    grid-template-rows: 74px 54px 78px 172px 46px;
    grid-template-columns: auto;
    grid-template-areas: "tags preview"
        "header preview"
        "OS preview"
        "description preview"
        "viewButton preview";
    justify-items: stretch;
    align-items: stretch;
}

.cardOnHover {
    background: #E4ECFD;
}

.ourPortfolio__card1__tags,
.ourPortfolio__card2__tags,
.ourPortfolio__card3__tags,
.ourPortfolio__card4__tags,
.ourPortfolio__card5__tags {
    grid-area: tags;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.ourPortfolio__card1__tags-1,
.ourPortfolio__card1__tags-2,
.ourPortfolio__card1__tags-3,
.ourPortfolio__card1__tags-4,
.ourPortfolio__card1__tags-5,
.ourPortfolio__card2__tags-1,
.ourPortfolio__card2__tags-2,
.ourPortfolio__card2__tags-3,
.ourPortfolio__card3__tags-1,
.ourPortfolio__card3__tags-2,
.ourPortfolio__card3__tags-3,
.ourPortfolio__card3__tags-4,
.ourPortfolio__card4__tags-1,
.ourPortfolio__card4__tags-2,
.ourPortfolio__card4__tags-3,
.ourPortfolio__card5__tags-1,
.ourPortfolio__card5__tags-2,
.ourPortfolio__card5__tags-3,
.ourPortfolio__card5__tags-4,
.ourPortfolio__card5__tags-5 {
    margin-right: 20px;
    background-color: var(--green1);
    padding: 9px 25px 9px 25px;
    border-radius: 5px;
    color: var(--txt);
    font-family: var(--texttegsfontfamily);
    font-size: var(--texttegsfontsize);
    font-weight: var(--texttegsfontweight);
    line-height: var(--texttegslineheight);
    text-transform: var(--texttegstexttransform);
    transition: background-color 0.3s;
}

.tagOnHover {
    background-color: var(--blue1);
}

.ourPortfolio__card1__header,
.ourPortfolio__card2__header,
.ourPortfolio__card3__header,
.ourPortfolio__card4__header,
.ourPortfolio__card5__header {
    grid-area: header;
    font-family: var(--h3fontfamily);
    font-weight: var(--h3fontweight);
    font-size: var(--h3fontsize);
    text-transform: var(--h3texttransform);
    color: var(--txt);
}

.ourPortfolio__card1__operationSystems,
.ourPortfolio__card2__operationSystems,
.ourPortfolio__card3__operationSystems,
.ourPortfolio__card4__operationSystems,
.ourPortfolio__card5__operationSystems {
    grid-area: OS;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: var(--txt);
    font-family: var(--texttegsfontfamily);
    font-size: var(--texttegsfontsize);
    font-weight: var(--texttegsfontweight);
    line-height: var(--texttegslineheight);
    text-transform: var(--texttegstexttransform);
    padding-bottom: 50px;
}

.ourPortfolio__card1__operationSystems__tabletIcon,
.ourPortfolio__card1__operationSystems__mobileIcon,
.ourPortfolio__card2__operationSystems__tabletIcon,
.ourPortfolio__card2__operationSystems__mobileIcon,
.ourPortfolio__card3__operationSystems__tabletIcon,
.ourPortfolio__card3__operationSystems__mobileIcon,
.ourPortfolio__card4__operationSystems__laptopIcon,
.ourPortfolio__card5__operationSystems__tabletIcon,
.ourPortfolio__card5__operationSystems__mobileIcon,
.ourPortfolio__card5__operationSystems__laptopIcon {
    padding-right: 12px;
}


.ourPortfolio__card1__operationSystems__androidText,
.ourPortfolio__card2__operationSystems__androidText,
.ourPortfolio__card3__operationSystems__androidText,
.ourPortfolio__card5__operationSystems__androidText,
.ourPortfolio__card5__operationSystems__iOSText {
    padding-right: 30px;
}


.ourPortfolio__card1__description,
.ourPortfolio__card2__description,
.ourPortfolio__card3__description,
.ourPortfolio__card4__description,
.ourPortfolio__card5__description {
    grid-area: description;
    width: 590px;
}

.ourPortfolio__card1__description__text,
.ourPortfolio__card2__description__text,
.ourPortfolio__card3__description__text,
.ourPortfolio__card4__description__text,
.ourPortfolio__card5__description__text {
    color: var(--txt);
    font-family: var(--text22fontfamily);
    font-size: var(--text22fontsize);
    font-weight: var(--text22fontweight);
    line-height: var(--text22lineheight);
    text-transform: var(--text22texttransform);
}

.ourPortfolio__card1__viewButton,
.ourPortfolio__card2__viewButton,
.ourPortfolio__card3__viewButton,
.ourPortfolio__card4__viewButton,
.ourPortfolio__card5__viewButton {
    cursor: pointer;
    grid-area: viewButton;
    justify-self: start;
    border: none;
    background: transparent;
    font-family: var(--buttonfontfamily);
    font-size: var(--buttonfontsize);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--blue);
    letter-spacing: 0.01em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    transition: font-size 0.3s;
}

.ourPortfolio__card1__preview,
.ourPortfolio__card2__preview,
.ourPortfolio__card3__preview,
.ourPortfolio__card4__preview,
.ourPortfolio__card5__preview {
    grid-area: preview;
}

.ourPortfolio__card2,
.ourPortfolio__card3,
.ourPortfolio__card4,
.ourPortfolio__card5 {
    margin-top: 80px;
}

.ourPortfolio__allProjectsButton {
    cursor: pointer;
    margin: 80px auto 200px auto;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px;
    background-color: var(--blue);
    font-family: var(--buttonfontfamily);
    font-size: var(--buttonfontsize);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white);
    letter-spacing: 0.01em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    transition: background-color 0.3s;
}

.whatWeOffer {
    padding: 100px 50px;
    background-color: var(--backgroundBlue);
    display: grid;
    grid-template-rows: auto;
    gap: 20px;
    grid-template-columns: repeat(2, auto);
    grid-template-areas:
        "h2 txt22"
        "card1 card2"
        "card3 card4"
        "card5 card6"
        "card7 card8"
        "button button";
    justify-items: stretch;
    align-items: stretch;
}

.whatWeOffer__header__h2 {
    grid-area: h2;
    font-family: var(--h2fontfamily);
    font-size: var(--h2fontsize);
    font-weight: var(--h2fontweight);
    text-transform: var(--h2texttransform);
    color: var(--txt);
}

.whatWeOffer__header__text {
    grid-area: txt22;
    padding-bottom: 80px;
    font-family: var(--text22fontfamily);
    font-size: var(--text22fontsize);
    font-weight: var(--text22fontweight);
    text-transform: var(--text22texttransform);
    color: var(--txt);
    line-height: var(--text22lineheight);
}

.whatWeOffer__card1 {
    grid-area: card1;
}

.whatWeOffer__card2 {
    grid-area: card2;
}

.whatWeOffer__card3 {
    grid-area: card3;
}

.whatWeOffer__card4 {
    grid-area: card4;
}

.whatWeOffer__card5 {
    grid-area: card5;
}

.whatWeOffer__card6 {
    grid-area: card6;
}

.whatWeOffer__card7 {
    grid-area: card7;
}

.whatWeOffer__card8 {
    grid-area: card8;
}

.whatWeOffer__card1,
.whatWeOffer__card2,
.whatWeOffer__card3,
.whatWeOffer__card4,
.whatWeOffer__card5,
.whatWeOffer__card6,
.whatWeOffer__card7,
.whatWeOffer__card8 {
    background-color: var(--white);
    border-radius: 10px;
    padding: 56px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.whatWeOffer__card1__number,
.whatWeOffer__card2__number,
.whatWeOffer__card3__number,
.whatWeOffer__card4__number,
.whatWeOffer__card5__number,
.whatWeOffer__card6__number,
.whatWeOffer__card7__number,
.whatWeOffer__card8__number {
    padding-right: 40px;
}

.whatWeOffer__card1__text__h4,
.whatWeOffer__card2__text__h4,
.whatWeOffer__card3__text__h4,
.whatWeOffer__card4__text__h4,
.whatWeOffer__card5__text__h4,
.whatWeOffer__card6__text__h4,
.whatWeOffer__card7__text__h4,
.whatWeOffer__card8__text__h4 {
    font-family: var(--h4fontfamily);
    font-size: var(--h4fontsize);
    text-transform: var(--h4texttransform);
    font-weight: var(--h4fontweight);
    color: var(--txt);
    padding-bottom: 10px;
}

.whatWeOffer__card1__text__p,
.whatWeOffer__card2__text__p,
.whatWeOffer__card3__text__p,
.whatWeOffer__card4__text__p,
.whatWeOffer__card5__text__p,
.whatWeOffer__card6__text__p,
.whatWeOffer__card7__text__p,
.whatWeOffer__card8__text__p {
    font-family: var(--text16fontfamily);
    font-size: var(--text16fontsize);
    font-weight: var(--text16fontweight);
    line-height: var(--text16lineheight);
    text-transform: var(--text16texttransform);
    color: var(--txt);
}

.whatWeOffer__discussButton {
    cursor: pointer;
    grid-area: button;
    margin: 80px auto 0 auto;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px;
    background-color: var(--blue);
    font-family: var(--buttonfontfamily);
    font-size: var(--buttonfontsize);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white);
    letter-spacing: 0.01em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    transition: background-color 0.3s;
}

.expertiseContainer {
    margin-top: 200px;
    margin-bottom: 200px;
    padding-left: 50px;
    padding-right: 50px;
}

.expertise__header {
    display: grid;
    grid-template-columns: 660px 660px;
    gap: 20px;
    grid-template-rows: auto;
    grid-template-areas: "h2 txt22";
    justify-items: stretch;
    align-items: stretch;
}

.expertise__header__h2 {
    grid-area: h2;
    font-family: var(--h2fontfamily);
    font-size: var(--h2fontsize);
    font-weight: var(--h2fontweight);
    text-transform: var(--h2texttransform);
    color: var(--txt);
}

.expertise__header__text {
    grid-area: txt22;
    padding-bottom: 80px;
    font-family: var(--text22fontfamily);
    font-size: var(--text22fontsize);
    font-weight: var(--text22fontweight);
    text-transform: var(--text22texttransform);
    color: var(--txt);
    line-height: var(--text22lineheight);
}

.expertise__slider {
    display: grid;
    grid-template-columns: 660px 20px 660px;
    grid-template-rows: 485px 62px;
    grid-template-areas:
        "spoilerContainer . sliderImageContainer"
        ". . sliderImageContainer";
    justify-items: stretch;
    align-items: stretch;
}

.expertise__slider__spoilerContainer {
    grid-area: spoilerContainer;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
}

.expertise__slider__imageContainer {
    grid-area: sliderImageContainer;
    position: relative;
}

.expertise__slider__image1,
.expertise__slider__image2,
.expertise__slider__image3,
.expertise__slider__image4 {
    border-radius: 10px;
    position: absolute;
}

.expertise__slider__spoiler1,
.expertise__slider__spoiler2,
.expertise__slider__spoiler3,
.expertise__slider__spoiler4 {
    border-bottom: 1px solid var(--grey);
    padding: 20px;
    max-height: 69px;
    overflow: hidden;
    transition: background-color 0.3s, max-height 0.3s;
}

.expertise__slider__spoiler1[open],
.expertise__slider__spoiler2[open],
.expertise__slider__spoiler3[open],
.expertise__slider__spoiler4[open] {
    border-radius: 10px;
    background-color: var(--backgroundGreen);
    border-bottom: none;
    max-height: 194px;
}

.expertise__slider__spoiler1__description,
.expertise__slider__spoiler2__description,
.expertise__slider__spoiler3__description,
.expertise__slider__spoiler4__description {
    margin-top: 29px;
    font-family: var(--text16fontfamily);
    font-weight: var(--text16fontweight);
    font-size: var(--text16fontsize);
    line-height: var(--text16lineheight);
    text-transform: var(--text16texttransform);
    color: var(--txt);
}

.expertise__slider__spoiler1__header,
.expertise__slider__spoiler2__header,
.expertise__slider__spoiler3__header,
.expertise__slider__spoiler4__header {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.expertise__slider__spoiler1__header__text,
.expertise__slider__spoiler2__header__text,
.expertise__slider__spoiler3__header__text,
.expertise__slider__spoiler4__header__text {
    color: var(--txt);
    list-style: none;
    font-family: var(--h1fontfamily);
    font-weight: var(--h1fontweight);
    font-size: 30px;
    transition: font-size 0.3s;
}

.fontGoesBig {
    font-size: var(--h3fontsize);
}

.backCall {
    margin-bottom: 57px;
}

.backCallContainer {
    background-color: var(--backgroundGreen);
    padding: 100px 50px 100px 50px;
    display: grid;
    grid-template-areas: 
    "header"
    "form";
    justify-items: center;
    align-items: stretch;
}

.backCall__header {
    grid-area: header;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.backCall__header__h2 {
    font-family: var(--h2fontfamily);
    font-size: var(--h2fontsize);
    font-weight: var(--h2fontweight);
    text-transform: var(--h2texttransform);
    color: var(--txt);
    padding-bottom: 24px;
}

.backCall__header__text {
    font-family: var(--text22fontfamily);
    font-size: var(--text22fontsize);
    font-weight: var(--text22fontweight);
    line-height: var(--text22lineheight);
    text-transform: var(--text22texttransform);
    color: var(--txt);
}

.backCall__inputForm {
    grid-area: form;
    display: grid;
    grid-template-columns: auto 60px auto;
    grid-template-rows: auto 80px auto;
    grid-template-areas: 
    "nameInput . contactInput"
    ". . ."
    "communicationChoice . scheduleCall";
    justify-items: stretch;
    align-items: stretch;
}

.backCall__inputForm__nameInputField {
    grid-area: nameInput;
}

.backCall__inputForm__phoneOrEmailInputField {
    grid-area: contactInput;
}

.backCall__inputForm__nameInputField,
.backCall__inputForm__phoneOrEmailInputField {
    border: none;
    border-radius: 8px;
    width: 470px;
    height: 60px;
    border-radius: 8px;
    background-color: var(--white);
    padding: 18px;
    opacity: 1;
    font-family: var(--text16fontfamily);
    font-size: var(--text16fontsize);
    font-weight: var(--text16fontweight);
    line-height: var(--text16lineheight);
    text-transform: var(--text16texttransform);
    color: var(--txt);
}

.backCall__inputForm__nameInputField:focus,
.backCall__inputForm__phoneOrEmailInputField:focus {
    border: 1px solid var(--blue);
    outline: none;
}

.backCall__inputForm__nameInputField::placeholder,
.backCall__inputForm__phoneOrEmailInputField::placeholder {
    opacity: 1;
    font-family: var(--text16fontfamily);
    font-size: var(--text16fontsize);
    font-weight: var(--text16fontweight);
    line-height: var(--text16lineheight);
    text-transform: var(--text16texttransform);
    color: var(--grey);
}

.backCall__inputForm__communicationChoice {
    grid-area: communicationChoice;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.backCall__inputForm__communicationChoice__caption {
    color: var(--txt);
    font-family: var(--text16fontfamily);
    font-size: var(--text16fontsize);
    font-weight: var(--text16fontweight);
    line-height: var(--text16lineheight);
    text-transform: var(--text16texttransform);
    padding-bottom: 20px;
}

.backCall__inputForm__communicationChoice__buttonsAndLabels {
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.backCall__inputForm__communicationChoice__buttonsAndLabels__telegram,
.backCall__inputForm__communicationChoice__buttonsAndLabels__whatsApp,
.backCall__inputForm__communicationChoice__buttonsAndLabels__email,
.backCall__inputForm__communicationChoice__buttonsAndLabels__phone {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.backCall__inputForm__communicationChoice__buttonsAndLabels__telegram-radioButton,
.backCall__inputForm__communicationChoice__buttonsAndLabels__whatsApp-radioButton,
.backCall__inputForm__communicationChoice__buttonsAndLabels__email-radioButton,
.backCall__inputForm__communicationChoice__buttonsAndLabels__phone-radioButton {
    appearance: none;
    background-color: transparent;
    margin: 0;
    width: 18px;
    height: 18px;
    border: 2px solid var(--grey);
    border-radius: 50%;
    transition: border 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    cursor: pointer;
}

.backCall__inputForm__communicationChoice__buttonsAndLabels__telegram-radioButton::before,
.backCall__inputForm__communicationChoice__buttonsAndLabels__whatsApp-radioButton::before,
.backCall__inputForm__communicationChoice__buttonsAndLabels__email-radioButton::before,
.backCall__inputForm__communicationChoice__buttonsAndLabels__phone-radioButton::before {
    content: "";
    width: 0.75em;
    height: 0.75em;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: inset 1em 1em var(--blue);
    background-color: var(--blue);
}

.backCall__inputForm__communicationChoice__buttonsAndLabels__telegram-radioButton:hover,
.backCall__inputForm__communicationChoice__buttonsAndLabels__whatsApp-radioButton:hover,
.backCall__inputForm__communicationChoice__buttonsAndLabels__email-radioButton:hover,
.backCall__inputForm__communicationChoice__buttonsAndLabels__phone-radioButton:hover {
    border: 2px solid var(--blue);
}

.backCall__inputForm__communicationChoice__buttonsAndLabels__telegram-radioButton:checked,
.backCall__inputForm__communicationChoice__buttonsAndLabels__whatsApp-radioButton:checked,
.backCall__inputForm__communicationChoice__buttonsAndLabels__email-radioButton:checked,
.backCall__inputForm__communicationChoice__buttonsAndLabels__phone-radioButton:checked {
    border: 2px solid var(--blue);
}

.backCall__inputForm__communicationChoice__buttonsAndLabels__telegram-radioButton:checked::before,
.backCall__inputForm__communicationChoice__buttonsAndLabels__whatsApp-radioButton:checked::before,
.backCall__inputForm__communicationChoice__buttonsAndLabels__email-radioButton:checked::before,
.backCall__inputForm__communicationChoice__buttonsAndLabels__phone-radioButton:checked::before {
    opacity: 1;
}


.backCall__inputForm__communicationChoice__buttonsAndLabels__telegram-label,
.backCall__inputForm__communicationChoice__buttonsAndLabels__whatsApp-label,
.backCall__inputForm__communicationChoice__buttonsAndLabels__email-label {
    padding-right: 20px;
}

.backCall__inputForm__communicationChoice__buttonsAndLabels__telegram-label,
.backCall__inputForm__communicationChoice__buttonsAndLabels__whatsApp-label,
.backCall__inputForm__communicationChoice__buttonsAndLabels__email-label,
.backCall__inputForm__communicationChoice__buttonsAndLabels__phone-label {
    padding-left: 10px;
    font-family: var(--text16fontfamily);
    font-size: var(--text16fontsize);
    font-weight: var(--text16fontweight);
    line-height: var(--text16lineheight);
    text-transform: var(--text16texttransform);
    color: var(--txt);
    cursor: pointer;
}

.backCall__inputForm__scheduleCall {
    grid-area: scheduleCall;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
}

.backCall__inputForm__scheduleCall__button {
    border: none;
    border-radius: 10px;
    background-color: var(--blue);
    font-family: var(--buttonfontfamily);
    font-size: var(--buttonfontsize);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white);
    letter-spacing: 0.01em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 19px;
    padding-bottom: 19px;
    margin-bottom: 16px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.backCall__inputForm__scheduleCall__button:hover {
    background-color: var(--green2);
}

.backCall__inputForm__scheduleCall__caption {
    font-family: "Manrope", sans-serif;
    font-weight: regular;
    font-size: 12px;
    line-height: 150%;
    color: var(--txt);
}

.popUp {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    animation: popupDarkBackground 0.3s;
}

.showPopUp {
    display: block;
}

.popUpContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--backgroundBlue);
    width: 1000px;
    height: 400px;
    animation: popUpContainerAppear 0.3s;
}

.popUp__closeButton {
    align-self: flex-end;
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-top: 50px;
    margin-right: 50px;
    position: absolute;
    top: 0%;
}

.popUp__text {
    font-family: var(--text22fontfamily);
    font-size: var(--text22fontsize);
    font-weight: var(--text22fontweight);
    line-height: var(--text22lineheight);
    text-transform: var(--text22texttransform);
    color: var(--txt);
    width: 569px;
    text-align: center;
}

.howWeWork {
    background: url(./src/images/back.png), linear-gradient(143deg, #303d8f 0%, #303d8f 55%, #8a90bb 100%);
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: overlay;
}

.howWeWork__header {
    padding-top: 100px;
    margin-left: 50px;
    padding-bottom: 50px;
    font-family: var(--h2fontfamily);
    font-size: var(--h2fontsize);
    font-weight: var(--h2fontweight);
    text-transform: var(--h2texttransform);
    color: var(--green);
}

.howWeWork__table {
    margin-left: 30px;
    border-collapse: separate;
    border-spacing: 20px 30px;
    padding-bottom: 112px;
}

.howWeWork__table__row1__cell1,
.howWeWork__table__row1__cell2,
.howWeWork__table__row2__cell1,
.howWeWork__table__row2__cell2 {
    border: 1px solid var(--contourBlue);
    border-radius: 10px;
    padding: 30px 20px 10px 20px;
    vertical-align: top;
    width: 433px;
    height: 320px;
}

.howWeWork__table__row1__cell1__header,
.howWeWork__table__row1__cell2__header,
.howWeWork__table__row2__cell1__header,
.howWeWork__table__row2__cell2__header {
    font-family: var(--h4fontfamily);
    font-size: var(--h4fontsize);
    font-weight: var(--h4fontweight);
    text-transform: var(--h4texttransform);
    color: var(--white);
    padding-bottom: 20px;
}

.howWeWork__table__row1__cell1__list,
.howWeWork__table__row1__cell2__list,
.howWeWork__table__row2__cell1__list,
.howWeWork__table__row2__cell2__list {
    padding-left: 10px;
    width: 335px;
}

.howWeWork__table__row1__cell1__list__item1,
.howWeWork__table__row1__cell1__list__item2,
.howWeWork__table__row1__cell1__list__item3,
.howWeWork__table__row1__cell1__list__item4,
.howWeWork__table__row1__cell2__list__item1,
.howWeWork__table__row1__cell2__list__item2,
.howWeWork__table__row1__cell2__list__item3,
.howWeWork__table__row1__cell2__list__item4,
.howWeWork__table__row2__cell1__list__item1,
.howWeWork__table__row2__cell1__list__item2,
.howWeWork__table__row2__cell1__list__item3,
.howWeWork__table__row2__cell1__list__item4,
.howWeWork__table__row2__cell1__list__item5,
.howWeWork__table__row2__cell2__list__item1,
.howWeWork__table__row2__cell2__list__item2,
.howWeWork__table__row2__cell2__list__item3 {
    padding-left: 10px;
    font-family: var(--text16fontfamily);
    font-size: var(--text16fontsize);
    font-weight: var(--text16fontweight);
    line-height: var(--text16lineheight);
    text-transform: var(--text16texttransform);
    color: var(--white);
}

.howWeWork__table__row1__cell1__list__item1,
.howWeWork__table__row1__cell1__list__item2,
.howWeWork__table__row1__cell1__list__item3,
.howWeWork__table__row1__cell2__list__item1,
.howWeWork__table__row1__cell2__list__item2,
.howWeWork__table__row1__cell2__list__item3,
.howWeWork__table__row2__cell1__list__item1,
.howWeWork__table__row2__cell1__list__item2,
.howWeWork__table__row2__cell1__list__item3,
.howWeWork__table__row2__cell1__list__item4,
.howWeWork__table__row2__cell2__list__item1,
.howWeWork__table__row2__cell2__list__item2 {
    padding-bottom: 10px;
}

.howWeWork__table__row1__cell1__list__item1::marker,
.howWeWork__table__row1__cell1__list__item2::marker,
.howWeWork__table__row1__cell1__list__item3::marker,
.howWeWork__table__row1__cell1__list__item4::marker,
.howWeWork__table__row1__cell2__list__item1::marker,
.howWeWork__table__row1__cell2__list__item2::marker,
.howWeWork__table__row1__cell2__list__item3::marker,
.howWeWork__table__row1__cell2__list__item4::marker,
.howWeWork__table__row2__cell1__list__item1::marker,
.howWeWork__table__row2__cell1__list__item2::marker,
.howWeWork__table__row2__cell1__list__item3::marker,
.howWeWork__table__row2__cell1__list__item4::marker,
.howWeWork__table__row2__cell1__list__item5::marker,
.howWeWork__table__row2__cell2__list__item1::marker,
.howWeWork__table__row2__cell2__list__item2::marker,
.howWeWork__table__row2__cell2__list__item3::marker {
    content: url(./src/icons/marker.svg);
}

.technologies {
    margin-top: 150px;
    margin-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.technologies__header {
    color: var(--txt);
    font-family: var(--h2fontfamily);
    font-size: var(--h2fontsize);
    font-weight: var(--h2fontweight);
    text-transform: var(--h2texttransform);
    margin-bottom: 80px;
}

.technologies__list {
    display: grid;
    grid-template-columns: 434px 100px 100px 100px 100px 100px 100px auto;
    column-gap: 20px;
    grid-template-rows: 1px 71px 1px 71px 1px 71px 1px 71px 1px 71px 1px 71px 1px;
    grid-template-areas:
    "line1 line1 line1 line1 line1 line1 line1 line1"
    "mobile mobileLogo1 mobileLogo2 mobileLogo3 mobileLogo4 mobileLogo5 . ."
    "line2 line2 line2 line2 line2 line2 line2 line2"
    "web webLogo1 webLogo2 webLogo3 webLogo4 webLogo5 . ."
    "line3 line3 line3 line3 line3 line3 line3 line3"
    "backEnd backEndLogo1 backEndLogo2 backEndLogo3 backEndLogo4 backEndLogo5 backEndLogo6 ."
    "line4 line4 line4 line4 line4 line4 line4 line4"
    "analytics analyticsLogo1 analyticsLogo2 analyticsLogo3 analyticsLogo4 . . ."
    "line5 line5 line5 line5 line5 line5 line5 line5"
    "design designLogo1 designLogo2 designLogo3 designLogo4 designLogo5 . ."
    "line6 line6 line6 line6 line6 line6 line6 line6"
    "marketing marketingLogo1 marketingLogo2 marketingLogo3 marketingLogo4 marketingLogo5 . ."
    "line7 line7 line7 line7 line7 line7 line7 line7";
    align-items: center;
}

.technologies__list__mobile__text {
    grid-area: mobile;
}

.technologies__list__web__text {
    grid-area: web;
}

.technologies__list__backEnd__text {
    grid-area: backEnd;
}

.technologies__list__analytics__text {
    grid-area: analytics;
}

.technologies__list__design__text {
    grid-area: design;
}

.technologies__list__marketing__text {
    grid-area: marketing;
}

.technologies__list__mobile__logos__flutter {
    grid-area: mobileLogo1;
}

.technologies__list__mobile__logos__kotlin {
    grid-area: mobileLogo2;
}

.technologies__list__mobile__logos__swift {
    grid-area: mobileLogo3;
}

.technologies__list__mobile__logos__arCore {
    grid-area: mobileLogo4;
}

.technologies__list__mobile__logos__rive {
    grid-area: mobileLogo5;
}

.technologies__list__web__logos__python {
    grid-area: webLogo1;
}

.technologies__list__web__logos__flutter {
    grid-area: webLogo2;
}

.technologies__list__web__logos__html5 {
    grid-area: webLogo3;
}

.technologies__list__web__logos__css3 {
    grid-area: webLogo4;
}

.technologies__list__web__logos__javaScript {
    grid-area: webLogo5;
}

.technologies__list__backEnd__logos__python {
    grid-area: backEndLogo1;
}

.technologies__list__backEnd__logos__amazon {
    grid-area: backEndLogo2;
}

.technologies__list__backEnd__logos__django {
    grid-area: backEndLogo3;
}

.technologies__list__backEnd__logos__mySQL {
    grid-area: backEndLogo4;
}

.technologies__list__backEnd__logos__postgreSQL {
    grid-area: backEndLogo5;
}

.technologies__list__backEnd__logos__googleCloud {
    grid-area: backEndLogo6;
}

.technologies__list__analytics__logos__amplitude {
    grid-area: analyticsLogo1;
}

.technologies__list__analytics__logos__firebase {
    grid-area: analyticsLogo2;
}

.technologies__list__analytics__logos__apphud {
    grid-area: analyticsLogo3;
}

.technologies__list__analytics__logos__googleAnalytics {
    grid-area: analyticsLogo4;
}

.technologies__list__design__logos__miro {
    grid-area: designLogo1;
}

.technologies__list__design__logos__figma {
    grid-area: designLogo2;
}

.technologies__list__design__logos__illustrator {
    grid-area: designLogo3;
}

.technologies__list__design__logos__photoshop {
    grid-area: designLogo4;
}

.technologies__list__design__logos__proCreate {
    grid-area: designLogo5;
}

.technologies__list__marketing__logos__googleAds {
    grid-area: marketingLogo1;
}

.technologies__list__marketing__logos__meta {
    grid-area: marketingLogo2;
}

.technologies__list__marketing__logos__asodesk {
    grid-area: marketingLogo3;
}

.technologies__list__marketing__logos__asomobile {
    grid-area: marketingLogo4;
}

.technologies__list__marketing__logos__similiarweb {
    grid-area: marketingLogo5;
}

.technologies__list__line1 {
    grid-area: line1;
}

.technologies__list__line2 {
    grid-area: line2;
}

.technologies__list__line3 {
    grid-area: line3;
}

.technologies__list__line4 {
    grid-area: line4;
}

.technologies__list__line5 {
    grid-area: line5;
}

.technologies__list__line6 {
    grid-area: line6;
}

.technologies__list__line7 {
    grid-area: line7;
}

.technologies__list__line1,
.technologies__list__line2,
.technologies__list__line3,
.technologies__list__line4,
.technologies__list__line5,
.technologies__list__line6,
.technologies__list__line7 {
    background-color: var(--grey);
    align-self: stretch;
    justify-self: stretch;
}

.technologies__list__mobile__text,
.technologies__list__web__text,
.technologies__list__backEnd__text,
.technologies__list__analytics__text,
.technologies__list__design__text,
.technologies__list__marketing__text {
    color: var(--txt);
    font-family: var(--text22fontfamily);
    font-size: var(--text22fontsize);
    font-weight: var(--text22fontweight);
    line-height: var(--text22lineheight);
    text-transform: var(--text22texttransform);
}

.technologies__list__mobile__logos__flutter,
.technologies__list__mobile__logos__kotlin,
.technologies__list__mobile__logos__swift,
.technologies__list__mobile__logos__arCore,
.technologies__list__web__logos__python,
.technologies__list__web__logos__flutter,
.technologies__list__web__logos__html5,
.technologies__list__web__logos__css3,
.technologies__list__web__logos__javaScript,
.technologies__list__backEnd__logos__python,
.technologies__list__backEnd__logos__amazon,
.technologies__list__backEnd__logos__django,
.technologies__list__backEnd__logos__mySQL,
.technologies__list__backEnd__logos__postgreSQL,
.technologies__list__backEnd__logos__googleCloud,
.technologies__list__analytics__logos__amplitude,
.technologies__list__analytics__logos__firebase,
.technologies__list__analytics__logos__apphud,
.technologies__list__analytics__logos__googleAnalytics,
.technologies__list__design__logos__miro,
.technologies__list__design__logos__figma,
.technologies__list__design__logos__illustrator,
.technologies__list__design__logos__photoshop,
.technologies__list__design__logos__proCreate,
.technologies__list__marketing__logos__googleAds,
.technologies__list__marketing__logos__meta,
.technologies__list__marketing__logos__asodesk,
.technologies__list__marketing__logos__similiarweb {
    max-width: 98px;
    max-height: 30px;
}

.technologies__list__mobile__logos__rive {
    max-width: 118px;
    max-height: 30px;
}

.technologies__list__marketing__logos__asomobile {
    background-color: #025477;
    max-width: 100px;
    max-height: 30px;
}

.contactUs {
    background-color: var(--backgroundBlue);
    padding: 100px 50px 100px 50px;
    display: grid;
    grid-template-columns: 567px auto;
    grid-template-rows: 120px 80px auto;
    grid-template-areas: 
    "h2 h2"
    ". ."
    "contacts form";
    justify-items: stretch;
    align-items: stretch;
}

.contactUs__header {
    grid-area: h2;
    justify-self: center;
    text-align: center;
    width: 885px;
    color: var(--txt);
    font-family: var(--h2fontfamily);
    font-size: var(--h2fontsize);
    font-weight: var(--h2fontweight);
    text-transform: var(--h2texttransform);
}

.contactUs__contacts {
    grid-area: contacts;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    flex-wrap: nowrap;
}

.contactUs__contacts__caption {
    color: var(--txt);
    font-family: var(--text22fontfamily);
    font-size: var(--text22fontsize);
    font-weight: var(--text22fontweight);
    line-height: var(--text22lineheight);
    text-transform: var(--text22texttransform);
    padding-bottom: 70px;
}

.contactUs__contacts__h4 {
    color: var(--txt);
    font-family: var(--h4fontfamily);
    font-size: var(--h4fontsize);
    font-weight: var(--h4fontweight);
    text-transform: var(--h4texttransform);
    padding-bottom: 20px;
}

.contactUs__contacts__email,
.contactUs__contacts__linkedIn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: center;
}

.contactUs__contacts__email {
    padding-top: 8px;
    padding-bottom: 18px;
}

.contactUs__contacts__email__icon,
.contactUs__contacts__linkedIn__icon {
    padding-right: 17px;
}

.contactUs__contacts__email__address,
.contactUs__contacts__linkedIn__address {
    color: var(--txt);
    font-family: var(--text16fontfamily);
    font-size: var(--text16fontsize);
    font-weight: var(--text16fontweight);
    line-height: var(--text16lineheight);
    text-transform: var(--text16texttransform);
}

.contactUs__contacts__ceo {
    margin-top: 70px;
}

.contactUs__contacts__cbdo,
.contactUs__contacts__cto {
    margin-top: 40px;
}

.contactUs__contacts__ceo,
.contactUs__contacts__cbdo,
.contactUs__contacts__cto {
    display: grid;
    grid-template-columns: 100px 20px auto;
    grid-template-rows: 13px 33px 10px 32px 13px;
    grid-template-areas:
    "portrait . ."
    "portrait . nameAndSurname"
    "portrait . ."
    "portrait . jobTitle"
    "portrait . .";
    justify-items: start;
    align-items: center;
}

.contactUs__contacts__ceo__portrait,
.contactUs__contacts__cbdo__portrait,
.contactUs__contacts__cto__portrait {
    grid-area: portrait;
}

.contactUs__contacts__ceo__name,
.contactUs__contacts__cbdo__name,
.contactUs__contacts__cto__name {
    grid-area: nameAndSurname;
    color: var(--txt);
    font-family: var(--h4fontfamily);
    font-size: var(--h4fontsize);
    font-weight: var(--h4fontweight);
    text-transform: var(--h4texttransform);
}

.contactUs__contacts__ceo__title,
.contactUs__contacts__cbdo__title,
.contactUs__contacts__cto__title {
    grid-area: jobTitle;
    font-family: var(--text22fontfamily);
    font-weight: var(--text22fontweight);
    font-size: 20px;
    line-height: 160%;
    color: var(--txt);
}

.contactUs__form {
    grid-area: form;
    background-color: var(--white);
    border-radius: 20px;
    padding: 50px 45px 50px 45px;
    display: grid;
    grid-template-columns: 302px 80px 302px;
    grid-template-rows: 24px 10px 60px 40px 24px 10px 60px 40px 24px 10px 120px 40px 18px 40px 60px;
    grid-template-areas: 
    "firstNameLabel . companyNameLabel"
    ". . ."
    "firstNameInput . companyNameInput"
    ". . ."
    "eMailLabel . phoneLabel"
    ". . ."
    "eMailInput . phoneInput"
    ". . ."
    "messageLabel messageLabel messageLabel"
    ". . ."
    "messageInput messageInput messageInput"
    ". . ."
    "caption caption caption"
    ". . ."
    "consultationButton consultationButton consultationButton";
    justify-items: stretch;
    align-items: stretch;
}

.contactUs__form__firstNameLabel {
    grid-area: firstNameLabel;
}

.contactUs__form__firstNameInput {
    grid-area: firstNameInput;
}

.contactUs__form__companyNameLabel {
    grid-area: companyNameLabel;
}

.contactUs__form__companyNameInput {
    grid-area: companyNameInput;
}

.contactUs__form__eMailLabel {
    grid-area: eMailLabel;
}

.contactUs__form__eMailInput {
    grid-area: eMailInput;
}

.contactUs__form__phoneLabel {
    grid-area: phoneLabel;
}

.contactUs__form__phoneInput {
    grid-area: phoneInput;
}

.contactUs__form__messageLabel {
    grid-area: messageLabel;
}

.contactUs__form__messageInput {
    grid-area: messageInput;
}

.contactUs__form__caption {
    grid-area: caption;
}

.contactUs__form__submitButton {
    grid-area: consultationButton;
}

.contactUs__form__firstNameLabel,
.contactUs__form__companyNameLabel,
.contactUs__form__eMailLabel,
.contactUs__form__phoneLabel,
.contactUs__form__messageLabel {
    color: var(--txt);
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.contactUs__form__companyNameLabel__optional,
.contactUs__form__phoneLabel__optional {
    margin-left: 10px;
    color: var(--grey);
    font-family: var(--texttegsfontfamily);
    font-size: var(--texttegsfontsize);
    font-weight: var(--texttegsfontweight);
    line-height: var(--texttegslineheight);
    text-transform: var(--texttegstexttransform);
}


.contactUs__form__firstNameInput,
.contactUs__form__companyNameInput,
.contactUs__form__eMailInput,
.contactUs__form__phoneInput,
.contactUs__form__messageInput {
    border: 1px solid var(--grey);
    border-radius: 10px;
    background-color: var(--white);
    font-family: var(--text16fontfamily);
    font-size: var(--text16fontsize);
    font-weight: var(--text16fontweight);
    line-height: var(--text16lineheight);
    text-transform: var(--text16texttransform);
    color: var(--txt);
    padding: 18px;
}

.contactUs__form__messageInput {
    resize: none;
}

.contactUs__form__firstNameInput:focus,
.contactUs__form__companyNameInput:focus,
.contactUs__form__eMailInput:focus,
.contactUs__form__phoneInput:focus,
.contactUs__form__messageInput:focus {
    border: 1px solid var(--blue);
    outline: none;
}

.contactUs__form__firstNameInput::placeholder,
.contactUs__form__companyNameInput::placeholder,
.contactUs__form__eMailInput::placeholder,
.contactUs__form__phoneInput::placeholder,
.contactUs__form__messageInput::placeholder {
    opacity: 1;
    font-family: var(--text16fontfamily);
    font-size: var(--text16fontsize);
    font-weight: var(--text16fontweight);
    line-height: var(--text16lineheight);
    text-transform: var(--text16texttransform);
    color: var(--grey);
}

.contactUs__form__caption {
    font-family: "Manrope", sans-serif;
    font-weight: regular;
    font-size: 12px;
    line-height: 150%;
    color: var(--txt);
}

.contactUs__form__submitButton {
    justify-self: center;
    border: none;
    border-radius: 10px;
    background-color: var(--blue);
    font-family: var(--buttonfontfamily);
    font-size: var(--buttonfontsize);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white);
    letter-spacing: 0.01em;
    padding: 19px 143px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.contactUs__form__submitButton:hover {
    background-color: var(--green2);
}

footer {
    background-color: var(--blue);
    padding: 60px 67px 60px 50px;
}

.footerMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.footerMenu__linkWithImage {
    margin-right: 30px;
}

.footerMenu__link {
    font-family: var(--text16fontfamily);
    font-weight: var(--text16fontweight);
    font-size: var(--text16fontsize);
    color: var(--white);
    text-decoration: none;
    transition: color 0.25s;
    margin-right: 20px;
}

.footerMenu__link:hover {
    text-decoration: underline;
    color: var(--green);
}

.footerInfo {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 308px 50px 305px 52px 256px 52px 300px;
    grid-template-rows: 33px 20px 42px 54px;
    grid-template-areas: 
    "addressHeader . . . . . ."
    ". . . . . . ."
    "office1 . office2 . . . ."
    "office1 . office2 . termsOfUse . websiteDevelopment";
    /* justify-content: ;
    justify-items: ;
    align-items: ; */
}

.footerInfo__addressHeader {
    grid-area: addressHeader;
    color: var(--white);
    font-family: var(--text22fontfamily);
    font-size: var(--text22fontsize);
    font-weight: var(--text22fontweight);
    text-transform: var(--text22texttransform);
    line-height: var(--text22lineheight);
}

.footerInfo__addressOfOffice1 {
    grid-area: office1;
}

.footerInfo__addressOfOffice2 {
    grid-area: office2;
}

.footerInfo__addressOfOffice1,
.footerInfo__addressOfOffice2,
.footerInfo__link {
    color: var(--white);
    font-family: var(--text16fontfamily);
    font-size: var(--text16fontsize);
    font-weight: var(--text16fontweight);
    text-transform: var(--text16texttransform);
    line-height: var(--text16lineheight);
}

.footerInfo__link {
    grid-area: termsOfUse;
    text-decoration: none;
    align-self: end;
}

.footerInfo__link:hover {
    text-decoration: underline;
}

.footerInfo__websiteDeveloper {
    grid-area: websiteDevelopment;
    text-decoration: none;
    align-self: end;
    color: var(--grey);
    font-family: var(--text16fontfamily);
    font-size: var(--text16fontsize);
    font-weight: var(--text16fontweight);
    text-transform: var(--text16texttransform);
    line-height: var(--text16lineheight);
}